@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #fe5b3e;
  --text-dark: #0f172a;
  --text-light: #475569;
  --extra-light: #f2f2f2;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

 /*........... SCROLL-BAR START.......... */
  
 ::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #f1f1f1; /* Padding around the handle */
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-dark); /* Color of the scrollbar handle when hovered */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px;
  }
  
    /*........... SCROLL-BAR END.......... */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 230, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.checkout{
     background-color: rgb(253, 230, 220);
    }
    

    .wrapper {
        background-color: #fff;
        width: auto;
        padding: 3rem;
        margin: 1rem auto 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    
@media (min-width: 768px){ 
    .wrapper {
        background-color: #fff;
        width: 580px;
        padding: 80px;
        margin: 1rem auto 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

.nav__logo img {
    width: 122px;
    height: 154%;
    max-width: none;
    position: absolute;
    top: -30%;
    left: 14px;
    animation: none;
  
  }
  
  @media (min-width: 768px) {
    .nav__logo img {
      width: 336px;
      height: 37%;
      max-width: none;
      position: absolute;
      top: -10%;
      left: 14px;
      animation: none;
    }
  }
.wrapper h2 {
    background-color: #fcfcfc;
    color: var(--text-dark);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px dashed var(--primary-color);
}

.wrapper h4 {
    padding-bottom: 5px;
    color: var(--primary-color);
}

.input_group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input_box:last-child {
    margin-right: 0;
}

.input_box .name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #0003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.input_box .name:focus, .dob:focus {
    -webkit-box-shadow: 0 0 2px 1px var(--primary-color);
    -moz-box-shadow: 0 0 2px 1px var(--primary-color);
    box-shadow: 0 0 2px 1px var(--primary-color);
    border: 1px solid var(--primary-color);
}

.input_box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000003;
    border-right: none;
}

.name:focus+.icon {
    background-color: var(--primary-color);
    color: #fff;
    border-right: 1px solid #21cdd3;
    border: none;
    transition: 1s;
}

.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.radio {
    display: none;
}

.input_box label {
    width: 100%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input_box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}

.input_box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+label {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s;
}

.input_box button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.input_box button:hover {
    cursor: pointer;
    background-color: rgb(240, 178, 140);
}
        
/*----------------- NAVBAR-START--------- */

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__subheader {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-light);
    letter-spacing: 1px;
  }
  
  .section__header {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-dark);
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  img {
    display: flex;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Mulish", sans-serif;
  }
  
  header {
    position: relative;
  }
  
  header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    z-index: -1;
  }
  
  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
  }
  
  .nav__header {
    padding: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
  }
  
  .nav__logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .nav__links.open {
    transform: translateY(0);
  }
  
  .nav__links a {
    font-weight: 700;
    color: var(--white);
  }
  
  .nav__links .btn {
    padding: 0;
    background-color: transparent;
  }
  
  .nav__btns {
    display: none;
  }
  
  .header__container {
    display: grid;
    gap: 2rem 0;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }
  
  .header__container::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: var(--gradient);
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    z-index: -1;
  }
  
  .header__content h1 {
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--text-dark);
    line-height: 3.25rem;
  }
  
  .header__content h1::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    height: 4px;
    width: 2rem;
    background-color: var(--primary-color);
  }
  
  .header__content p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
  }
  
  .header__links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header__links img {
    max-width: 125px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }


  @media (width > 768px) {
    header::before {
      height: calc(100% - 4rem);
    }
  
    nav {
      position: static;
      padding-block: 2rem;
      padding-inline: 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo a {
      font-weight: 800;
      color: var(--text-dark);
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      width: fit-content;
      flex-direction: row;
      background-color: transparent;
      transform: none;
    }
  
    .nav__links a {
      padding-block: 5px;
      color: var(--text-dark);
      border-bottom: 2px solid transparent;
    }
  
    .nav__links a:hover {
      border-color: var(--primary-color);
    }
  
    .nav__links__btn {
      display: none;
    }
  
    .nav__btns {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
    }
  
    .nav__btns .btn__primary {
      color: var(--text-dark);
      background-color: transparent;
    }
  
    .header__container {
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
    }
  
    .header__container::before {
      right: 5rem;
      width: calc(50% - 4rem);
      height: 100%;
    }
  
    .header__image {
      grid-column: 3/6;
    }
  
    .header__content {
      grid-area: 1/1/2/3;
    }
}


/*----------------- NAVBAR-END----------- */