@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #fe5b3e;
  --text-dark: #0f172a;
  --text-light: #475569;
  --extra-light: #f2f2f2;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}
 /*........... SCROLL-BAR START.......... */
  
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Padding around the handle */
}


::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-dark); /* Color of the scrollbar handle when hovered */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}

  /*........... SCROLL-BAR END.......... */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section__container {
  max-width: 1200px;
  margin: auto auto;
  padding: 4rem 1rem;
  border-radius: 10px;
}

.section__subheader {
  margin-bottom: 0.5rem;  
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  letter-spacing: 1px;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
 
}

#boat_plan{
  border: 1px solid var(--primary-color);
}

#google-translate-button { 
  height: 35px !important;
   overflow: hidden !important; 
}
@keyframes float {
  50% {
  transform: translate(0, 15px);
  }
}
.nav__logo img {
  width: 122px;
  height: 154%;
  max-width: none;
  position: absolute;
  top: -30%;
  left: 14px;
  animation: none;

}

@media (min-width: 768px) {
  .nav__logo img {
    width: 336px;
    height: 37%;
    max-width: none;
    position: absolute;
    top: -10%;
    left: 14px;
    animation: none;
  }
}

img {
  display: flex;
  width: 100%;
  height: 115%;
  animation: float 2s ease-out infinite;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

  header {
    position: relative;
  }

  header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    z-index: -1;
  }

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 700;
  color: var(--white);
}
.btn__translate {
  background-color:transparent;
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav__links .btn {
  padding: 0;
  background-color: transparent;
}
.nav__btns {
  display: none;
}

  .header__container {
    display: grid;
    gap: 2rem 0;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .header__container::before {
    position: absolute;
    content: "";
    top: -62px;
    right: 0;
    width: 100%;
    height: 50%;
    background: var(--gradient);
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    z-index: -1;
  }

  .header__content h1 {
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--text-dark);
    line-height: 3.25rem;
  }

  .header__content h1::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    height: 4px;
    width: 2rem;
    background-color: var(--primary-color);
  }

  .header__content p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
  }

/* --------Start-TEXTBOX ------------*/

.input {
  border: none;
  color: #fe5b3e;
  border: 1px solid var(--primary-color);
  padding: 1rem 3rem;
  font-size: large;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
 
 .input:focus {
  outline-color: #e8e8e8;
  border: 2px solid var(--primary-color);
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }

/* --------END-TEXTBOX ------------*/

/* SUBMIT BUTTON  */

.add-new {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 6px 14px;
  margin: 10px 1px;
  border: unset;
  border-radius: 15px;
  color: var(--primary-color);
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 .add-new a{
  color: inherit  ;
  text-decoration: none;
 }
 .add-new::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--primary-color);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .add-new:hover {
  color: #e8e8e8;
 }
 
 .add-new:hover::before {
  width: 100%;
 }
/*......... SUBMIT BUTTON - END.......... */

/*........... COUNTRIES - START........... */
/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.dropdown-container {
  margin: 50px;
  position: relative;
  display: inline-block;
}

.available-icon {
  display: none;
  margin-left: 10px;
  color: green;
  font-size: 1.5rem;
}

/*........... COUNTRIES - END........... */

/* .section__containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--background-color); 
}

.dropdown-containerr {
  max-width: 400px;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  background-color: var(--extra-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dropdown-containerr label {
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: var(--primary-color);
}

.dropdown-containerr select {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  cursor: pointer;
}

.available-icon {
  display: none;
  margin-top: 1em;
  color: green;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .dropdown-containerr {
      width: 85%;
      padding: 1em;
  }

  .dropdown-containerr label {
      font-size: 1rem;
  }

  .dropdown-containerr select {
      font-size: 0.9rem;
  }

  .available-icon {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .dropdown-containerr {
      width: 100%;
      padding: 0.5em;
  }

  .dropdown-containerr label {
      font-size: 0.9rem;
  }

  .dropdown-containerr select {
      font-size: 0.8rem;
  }

  .available-icon {
      font-size: 0.8rem;
  }
}
 */

/*........... EXPERIENCE - START........... */

.wrapper {
  position:relative;
  width: 80vw;
  top:50%;
  display: inline-flex;
  justify-content: space-around;
}

  .container {
    width: 28vmin;
    height: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: var(--extra-light);
    border-bottom: 10px solid var(--primary-color);
  }

  span.num {
    color: var(--primary-color);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }

  span.text {
    color: var(--text-dark);
    font-size: 1.1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }

  @media screen and (max-width:1024px) {
    .wrapper{
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper{
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }

    .container {
      width: calc(50% -40px);
      height: 30vmin;
      font-size: 13px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper{
      gap: 15px;
    }

    .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
      border: 1px solid var(--primary-color);
    }
  }
#rent{
  background-color: var(--extra-light);
  border: 2px solid var(--primary-color);
}

/*........... EXPERIENCE - END........ */

/*........... SERVICES - START........ */

section .service {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  font-size: 2rem;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%,var(--primary-color) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: var(--text-dark);
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color:var(--primary-color);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: var(--primary-color);
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/*........... SERVICES - END........ */
.steps__container :is(.section__subheader, .section__header) {
  text-align: center;
}

.steps__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.steps__card {
  text-align: center;
}

.steps__card span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 10px 17px;
  font-size: 1.75rem;
  color: var(--primary-color);
  border-radius: 5px;
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__card:hover span {
  padding: 14px 21px;
  background: var(--gradient);
  color: var(--white);
  border: none;
}

.steps__card h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--text-dark);
}

.steps__card p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.service__container {
  display: grid;
  gap: 4rem 2rem;
  overflow: hidden;
}

.service__list {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

label{
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}

.service__list h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.service__list p {
  color: var(--text-dark);
  line-height: 1.75rem;
}

/*......... PACKAGE - START............ */

.card_container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
  align-items: center;
  justify-content: space-around;
  color: var(--extra-light);
  padding: 20px; /* Add padding to avoid touching screen edges */
}

.card_container .card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  height: auto;
  padding: 10px 0;
  text-align: center;
  background-image: linear-gradient(319deg, #ffbf46  0%, #fe7f2d 37%, #cd3e1b 100%);
  border-radius: 15px;
  box-shadow: 2px 5px 15px black;
  transition: transform 0.3s;
}

.card_container .card:hover {

  transform: scale(1.05);
}

.card_container .card .card-title {
  padding: 30px 20px;
  border-bottom: 2px solid var(--white);
}

.card_container .card .card-title h2 {
  font-size: 28px;
  padding-bottom: 15px;
  color: white;
}

.card_container .card .card-title p span {
  color: white;
  font-weight: 600;
  font-size: 50px;
  padding: 0 5px;
}

.card_container .card .card-content ul {
  padding: 10px 30px;
  padding-bottom: 20px;
}

.card_container .card .card-content ul li {
  list-style: none;
  padding: 10px 0;
}

.card_container .card .card-content ul li i {
  margin-right: 4px;
}
.card-title i{
  size: 10px;
}

h1.card-heading{
  font-size: 3rem;
    text-align: center;
}
.card_container .card .card-content button {
  width: 120px;
  padding: 10px 20px;
  background: white;
  border-radius: 20px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card_container .card .card-content button:hover {
  background: rgb(248, 205, 171);
  letter-spacing: 1.2px;
}

.card_container .card .card-content button a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

@media (max-width: 768px) {
  .card_container {
    justify-content: center;
  }

  .card_container .card {
    width: 100%;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .card_container .card .card-title h2 {
    font-size: 24px;
  }

  .card_container .card .card-title p span {
    font-size: 30px;
  }

  .card_container .card .card-content button {
    width: 101px;
  }
}


/*......... PACKAGE - END............ */

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background-color: var(--space-cadet);
  color: var(--white);
  text-align: center;
}

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title { color: var(--white); }

.about .section-text:nth-child(3) { margin-block: 12px 8px; }

.about-list {
  display: grid;
  gap: 25px;
  margin-block-start: 25px;
}

.about-item {
  background-color: var(--oxford-blue-2);
  padding: 40px 20px;
  transition: var(--transition);
}

.about-item:hover {
  background-color: var(--international-orange-engineering);
  transform: translateY(-8px);
}

.about-item .strong {
  display: block;
  line-height: 1.1;
}


.experience__container :is(.section__subheader, .section__header) {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}

.experience__content {
  max-width: 1024px;
  margin-inline: auto;
  margin-top: 4rem;
  position: relative;
  isolation: isolate;
}

.experience__content img {
  max-width: 300px;
  margin-inline: auto;
  opacity: 0.5;
}

.experience__card {
  position: absolute;
  max-width: 200px;
}

.experience__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.experience__card h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-dark);
}

.experience__card:nth-child(1) {
  top: 5rem;
  left: 1rem;
}

.experience__card:nth-child(2) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.experience__card:nth-child(3) {
  bottom: 5rem;
  left: 1rem;
}

.experience__card:nth-child(4) {
  top: 5rem;
  right: 1rem;
  text-align: right;
}

.experience__card:nth-child(5) {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  text-align: right;
}

.experience__card:nth-child(6) {
  bottom: 5rem;
  right: 1rem;
  text-align: right;
}


.contact-form {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.contact-form label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  align-content: center;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: bold;
  display: flex;
}


.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

/* .contact-form button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
} */

.contact-form button[type="submit"]:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  border-bottom: 1px solid var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 600;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__bar h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__bar p {
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--text-dark);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__socials a:hover {
  color: var(--white);
  background: var(--gradient);
}

@media (width > 540px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  header::before {
    height: calc(100% - 4rem);
  }

  nav {
    position: static;
    padding-block: 2rem 2rem;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-weight: 800;
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__links__btn {
    display: none;
  }

  .nav__btns {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .nav__btns .btn__primary {
    color: var(--text-dark);
    background-color: transparent;
  }

  .header__container {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .header__container::before {
    right: 5rem;
    width: calc(50% - 4rem);
    height: 100%;
  }

  .header__image {
    grid-column: 3/6;
  }

  .header__content {
    grid-area: 1/1/2/3;
  }

  .steps__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .experience__content img {
    opacity: 1;
  }

  .experience__card:nth-child(1) {
    left: 5rem;
  }

  .experience__card:nth-child(3) {
    left: 5rem;
  }

  .experience__card:nth-child(4) {
    right: 5rem;
  }

  .experience__card:nth-child(6) {
    right: 5rem;
  }

  .download__grid {
    margin-block: 4rem;
    padding-inline: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .download__image {
    display: flex;
    position: relative;
    isolation: isolate;
  }

  .download__image img {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__bar {
    flex-direction: row;
  }

  .footer__bar :is(h4, .footer__socials) {
    flex: 1;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}
