@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #fe5b3e;
  --text-dark: #0f172a;
  --text-light: #475569;
  --extra-light: #f2f2f2;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

 /*........... SCROLL-BAR START.......... */
  
 ::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #f1f1f1; /* Padding around the handle */
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-dark); /* Color of the scrollbar handle when hovered */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px;
  }
  
    /*........... SCROLL-BAR END.......... */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  li{
    color: rgb(255, 255, 255);
  }
  strong{
    color: black;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
  }
  
  section {
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  section::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fe8c5f 0%,var(--primary-color) 100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.80;
    z-index: -1;
  }
  
  .container {
    width: 100%;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  h3{
    color: black;
  }
  .section-intro {
    padding-bottom: 80px;
  }
 a{
    text-decoration: none;
    color: inherit;
 }
p{
    color: rgb(239, 236, 236);
}
  .section-intro h2 {
    color: black;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  
  .section-style {
    width: 130px;
    height: 12px;
    margin: 20px auto 0;
    position: relative;
  }
  
  .section-style::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .section-style::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .pricing-table__wrapper {
    position: relative;
    padding-top: 300px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


  @media (min-width: 768px){ 
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

#google-translate-button { 
  height: 35px !important;
   overflow: hidden !important; 
   background-color: transparent;
}
 
  .pricing-cards {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  


  .card {
    width: 360px;
    margin: 20px;
    background-color: #f0eef3;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(40, 25, 114, 0.1);
    transition: all 0.3s;
  }
  
  .card .card-pricing__header {
    padding: 40px 10px;
    border-bottom: 1px solid  #a5a5a5;
  }
  
  .card .card-pricing__header h4 {
    margin-bottom: 5px;
    color: #1d2441;
    font-size: 27px;
    font-weight: 900;
  }
  
  .card .card-pricing__header p {
    margin-bottom: 27px;
    color: #4e4e4e;
    font-size: 16px;
  }
  
  .card-pricing__price {
    font-size: 60px;
  }
  
  .card-pricing__price span {
    margin-right: 3px;
    font-size: 40px;
    position: relative;
    bottom: 5px;
    vertical-align: middle;
  }
  
  .card-pricing__list {
    padding: 30px 8px;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
  }
  
  .card-pricing__list li {
    margin-bottom: 12px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
  }
  
  .card-pricing__footer {
    padding: 45px 0;
  }
  
  .card-pricing__footer .button {
    padding: 15px 30px;
    color: #0a0a0a;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #dbd9e6;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  
  .card:hover {
    background: #ffffff;
    box-shadow: 0 20px 25px 5px var(--primary-color);
  }
  
  .card:hover .card-pricing__header h4,
  .card:hover .card-pricing__header p,
  .card:hover .card-pricing__price {
    color: var(--primary-color);
  }
  
  .card:hover .card-pricing__footer .button {
    color: #faf9ff;
    background: linear-gradient(to right, #fc8a50 0%,var(--primary-color) 100%);
  }
  
  
  @media screen and (max-width: 1200px) {
    .pricing-table__wrapper {
      padding-top: 0px;
    }
  
    .pricing-cards {
      position: static;
    }
  }

